html {
    height: 100%;
    body {
        .uk-button {
            background:#4cd964;
            color:#fff;
            margin-top:20px;
        }
        position: relative;
        background:#0B1016;
        header {
            position: relative;
            width: 100%;
        }
        .mc-margin {
            margin: 10px;
        }
        .mc-user-thumb {
            width:100px;
            height:100px;
            border-radius: 50%;
        }
        .mc-user-box {
            display:flex;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .mc-user-textbox{
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin:0;
                }
            }
            .mc-user-thumb {
                width:50px;
                height:50px;
                border-radius: 50%;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        .mc-box {
            background: #15202b;
            border-radius: 10px;
            padding: 50px;
            margin-bottom:20px;
            textarea {
                background: rgb(37, 51, 65);
                border: 0;
                color: #fff;
            }
            h1,h2,h3 {
                color:#fff;
            }
            ul {
                list-style: none;
                padding: 0;
                li{
                    padding: 10px;
                    border: 1px solid #aaa;
                    a {
                        text-decoration: none;
                        color: #fff;
                        span {
                            background: red;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .uk-card {
                background: #15202b;
                box-shadow: 0px 0px 1px #fff;
                p {
                    color: #fff;
                }
            }
            .mc-account-input {
                border:none;
                border:1px solid #ccc;
                border-radius: 10px;
                outline: none;
                padding-left: 7px;
                padding-right: 7px;
                width: 100%;
                margin:5px 0;
            }
            .mc-account-file {
                border:0;
                width:100%;
            }
            .mc-user-search {
                border:1px solid #ccc;
                border-radius: 10px;
                padding-left: 7px;
                padding-right: 7px;
                margin-bottom:40px;
                .mc-user-search-text {
                    border: none;
                    outline: none;
                    width: 76%;
                    font-size: 20px;
                    margin: 10px 0;
                }
                .mc-user-search-btn {
                    height: 100%;
                    border: none;
                    outline: none;
                    background: #fff;
                    border-left: 1px solid #ccc;
                    width: 23%;
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
        &.chat {
            .chat-box {
                border:1px solid #000;
                height: 50vh;
                overflow-y: scroll;
                .chat-box__row {
                    display: flex;
                    .chat-box__message {
                        border-radius:5px;
                        background:#00f;
                        margin: 10px;
                        padding: 5px;
                        color:#fff;
                    }
                    &.chat-box__row--my {
                        justify-content: flex-end;
                        .chat-box__message{
                            background:#55f;
                        }
                    }
                }
            }
        }
        .mc-position-top {
            background: #15202b;
            width:100%;
            header{
                .mc-logo h1{
                    color: #fff;
                    text-align: center;
                    padding: 50px;
                    font-family: 'Kalam', cursive;
                }
            }
            .uk-navbar {
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                background: #15202b;
                a {
                    color: #fff;
                    cursor: pointer;
                }
                a:hover {
                    color: #ddd;
                    cursor: pointer;
                }
            }
            .mc-weather {
                padding: 20px;
                width: 100%;
                .mc-weather__wrapper {
                    display: flex;
                    justify-content: center;
                    &,ul {
                        list-style: none;
                    }
                    & > li {
                        background: #fff;
                        margin: 10px;
                        padding: 50px;
                        border-radius: 5px;
                        ul {
                            padding: 0;
                        }
                    }
                }
            }
        }
        &.welcome {
            #myVideo {
                position: fixed;
                right: 0;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
            }
            .uk-container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                .mc-home-box-wrapper {
                    width: 100%;
                    position: relative;
                    justify-content: center;
                    flex-direction: row;
                    bottom: 0;
                    padding: 20px;
                    .mc-home-box {
                        background-color: rgb(21, 32, 43);
                        color: #fff;
                        border-radius: 5px;
                        box-shadow: 0px 0px 20px #000;
                        padding: 50px;
                        margin: 1%;
                        max-width: 48%;
                        &.uk-width-1-1 {
                            max-width: 100%;
                        }
                        h1,h3,label {
                            color:#fff;
                            position: relative;
                            top: -5px;
                        }
                        .form-group {
                            margin-bottom: 20px;
                        }
                        button {
                            width: 100%;
                            margin-top:10px;
                        }
                    }
                }
            }
        }
    }
}