html {
  height: 100%;
}

html body {
  position: relative;
  background: #0B1016;
}

html body .mc-infobox {
  background: #4cd964;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

html body .mc-no-margin {
  margin: 0 !important;
  width: 100%;
}

html body .mc-link-white {
  color: #fff;
  text-decoration: none;
}

html body .mc-label-white {
  color: #fff;
}

html body .mc-featured-box {
  box-shadow: 0px 0px 1px #fff;
  padding: 20px;
}

html body .mc-chat-img {
  height: 35px;
  margin: 10px;
}

html body .uk-button {
  background: #4cd964;
  color: #fff;
  margin-top: 20px;
}

html body header {
  position: relative;
  width: 100%;
}

html body .mc-margin {
  margin: 10px;
}

html body .mc-user-thumb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

html body .mc-user-box {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

html body .mc-user-box .mc-user-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

html body .mc-user-box .mc-user-textbox p {
  margin: 0;
}

html body .mc-user-box .mc-user-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

html body .mc-user-box:last-child {
  border-bottom: none;
}

html body .mc-box {
  background: #15202b;
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
}

html body .mc-box textarea {
  background: #253341;
  border: 0;
  color: #fff;
}

html body .mc-box h1,
html body .mc-box h2,
html body .mc-box h3 {
  color: #fff;
}

html body .mc-box ul {
  list-style: none;
  padding: 0;
}

html body .mc-box ul li {
  padding: 10px;
  border: 1px solid #aaa;
}

html body .mc-box ul li a {
  text-decoration: none;
  color: #fff;
}

html body .mc-box ul li a span {
  background: red;
  border-radius: 50%;
}

html body .mc-box .uk-card {
  background: #15202b;
  box-shadow: 0px 0px 1px #fff;
}

html body .mc-box .uk-card p {
  color: #fff;
}

html body .mc-box .mc-account-input {
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
  margin: 5px 0;
}

html body .mc-box .mc-account-img img {
  max-height: 200px;
}

html body .mc-box .mc-account-file {
  border: 0;
  width: 100%;
}

html body .mc-box .mc-user-search {
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 40px;
}

html body .mc-box .mc-user-search .mc-user-search-text {
  border: none;
  outline: none;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  margin: 10px 0;
}

html body .mc-box .mc-user-search .mc-user-search-btn {
  height: 100%;
  border: none;
  outline: none;
  background: #fff;
  border-left: 1px solid #ccc;
  width: 23%;
  font-size: 20px;
  padding: 10px;
}

html body.chat .chat-box {
  border: 1px solid #000;
  height: 50vh;
  overflow-y: scroll;
}

html body.chat .chat-box .chat-box__row {
  display: flex;
}

html body.chat .chat-box .chat-box__row .chat-box__message {
  border-radius: 5px;
  background: #00f;
  margin: 10px;
  padding: 5px;
  color: #fff;
}

html body.chat .chat-box .chat-box__row.chat-box__row--my {
  justify-content: flex-end;
}

html body.chat .chat-box .chat-box__row.chat-box__row--my .chat-box__message {
  background: #55f;
}

html body .mc-position-top {
  background: #15202b;
  width: 100%;
}

html body .mc-position-top header .mc-logo h1 {
  color: #fff;
  text-align: center;
  padding: 50px;
  font-family: "Kalam", cursive;
}

html body .mc-position-top .uk-navbar {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #15202b;
}

html body .mc-position-top .uk-navbar a {
  color: #fff;
  cursor: pointer;
}

html body .mc-position-top .uk-navbar a:hover {
  color: #ddd;
  cursor: pointer;
}

html body .mc-position-top .mc-weather {
  padding: 20px;
  width: 100%;
}

html body .mc-position-top .mc-weather .mc-weather__wrapper {
  display: flex;
  justify-content: center;
}

html body .mc-position-top .mc-weather .mc-weather__wrapper,
html body .mc-position-top .mc-weather .mc-weather__wrapper ul {
  list-style: none;
}

html body .mc-position-top .mc-weather .mc-weather__wrapper > li {
  background: #fff;
  margin: 10px;
  padding: 50px;
  border-radius: 5px;
}

html body .mc-position-top .mc-weather .mc-weather__wrapper > li ul {
  padding: 0;
}

html body.welcome #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

html body.welcome .uk-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

html body.welcome .uk-container .mc-home-box-wrapper {
  width: 100%;
  position: relative;
  justify-content: center;
  flex-direction: row;
  bottom: 0;
  padding: 20px;
}

html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box {
  background-color: #15202b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #000;
  padding: 50px;
  margin: 1%;
  max-width: 48%;
}

html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box.uk-width-1-1 {
  max-width: 100%;
}

html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box h1,
html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box h3,
html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box label {
  color: #fff;
  position: relative;
  top: -5px;
}

html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box .form-group {
  margin-bottom: 20px;
}

html body.welcome .uk-container .mc-home-box-wrapper .mc-home-box button {
  width: 100%;
  margin-top: 10px;
}

